
.alert{
display: inline-block ;
position: absolute;
color: #842029;
background-color: #f8d7da;
border-color: #f5c2c7;
border-radius: 5% 5%;
opacity: 0.83;
transition: opacity 1.6s;
z-index: 2;
border: red solid 144px;;
}
