
.body-column-list{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Arial, ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-rendering: optimizelegibility;
    scrollbar-color: rgb(101, 119, 134) rgb(21, 32, 43);
    overflow: auto hidden ;
    scrollbar-width:thin;
    /* overflow-x: auto; */
    /* overflow-y: hidden; */
    /* right: auto;
    left:auto; */

    display: grid;
    grid-auto-columns: 300px ;
    grid-auto-flow: column;
    grid-auto-columns: 300px;
    grid-template-columns: repeat(auto-fill, 300px);
    color:var(--smokey-white);
    background-color: var(--kinda-black);
    height: 99vh;
    width: 88vw;


}

.body-column-list > *{
    border: solid var(--just-black) 2px;
    overflow: auto;
    scrollbar-width:thin;
}

.posts{
    overflow: auto;

}

.column-header{
    display:flex;
    position: sticky;
    top:0px;
    justify-content: center;
    max-height: 50px;
    overflow: hidden;
    border-bottom: 1px solid #14171a;
    background-color: var(--just-black);

}

.column-header > i{
line-height: 50px;
font-size: 20px;
font-weight: 400;
}