
/* side menu  includes. columns names and subaccount menu */
.sidebar {
    display: grid;
    top: 0;
    bottom: 0;
    left:0;
    grid-auto-rows: max-content;
    grid-auto-flow: column;
    padding:10px 10px 0px 10px;
    background-color: var(--kinda-black);
    color: var(--just-gray);
    line-height: 18px;
    min-height: 100vh;
    max-width: 100%;
}

/* list items */
.sidebar li{
 margin: 15px;

}

/* post button */
#post {
max-height:36px;
width: 100%;
border-radius:45px;
border:var(--twitter-blue) ;
background-color: var(--twitter-blue);
color:white;
font-weight: 400;
margin:8px 0 0 0;
padding: 9px 18px;
font-size: 16px;
}

/* post button hover */
input#post:hover{
background-color: var(--hover-blue);
border-color: var(--kinda-black);
}

/* search box */
#search{
  position: relative;
  border-radius: 45px;
  border:solid 1px black ;
  background-color: black;
  color:var(--just-gray);
  line-height: 25px;
  max-height: 36px;
  max-width: 150px;
  padding: 4px 30px 4px 12px;
}

/* account menu  'add column' 'collapse' etc. */
.menu{
    border-top: var(--just-gray) solid 1px;
}

.menu a i{
   color:var(--twitter-blue);
}

.dropdown-content{
  background-color:#0000;
  border: aliceblue 1px solid;
}
.dropdown-content  li:hover{
  background-color: var(--twitter-blue);
}

