

body{
    background-color: var(--bg-color);
}

/* entire site 2 columns */
.wrapper{
    display: grid;
    grid-template-columns: [left-pane] 200px [right-pane] auto-fill;
}

        
.sidebar{
    position: fixed;
    z-index: 1;
}

.body-column-list{
    margin-left: 205px;
    
}


/* default styles */
a{
   color: var(--smokey-white);
   text-decoration: none;
 }


 ul{
    list-style: none;
    padding-left:0;
}

/* icons settings*/
a i{
    color:var(--just-gray);
    padding:1px;
    font-size: 20px;
    height: 1px;
    width: 24px;
    margin-right:5px;
}