

/* entire site 2 columns */
.wrapper{
    display: grid ;
    grid-template-columns: 200px auto;
    height: 100vh;
    background-color: var(--bg-color);
    
}

/* side menu  includes. columns names and subaccount menu */
.sidebar{
    display: grid;
    grid-template-rows: auto auto 1fr 1fr;
    padding:10px 10px 0px 10px;
    background-color: var(--kinda-black);
    color: var(--just-gray);
    line-height: 18px;
}
        

/* default styles */
a{
   color: var(--smokey-white);
   text-decoration: none;
 }

 ul {
    list-style: none;
    padding-left: 0;
}​
